.main-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 10svh;
    padding: 1%;
    background-color: white;
    position: relative;
    z-index:1;
    border-bottom: 1px solid #ccc;
}

.tab-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}

.btn-add-user {
    cursor: pointer;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: #FBC034;
}
.btn-add-user:hover {
    border: 1px solid transparent;
    background-color: #f3aa00;
    color: white;
}

.search {
    width: 30vw;
    padding: 5px 8px 5px 9px;
}

.search-bar {
    --size: 35px;
    border: 1px solid #a5a5a5;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    width: var(--size);
    height: var(--size);
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    padding: 3px;
}
.search-bar:focus-within {
    width: 80%;
}

.search-input {
    padding-inline: 5px;
    width: 100%;
    cursor:auto;
    font-weight: 400;
    border: 1px solid transparent;
    display: none;
}

.search-submit {
    margin-left: auto;
    border-radius: 4px;
    padding:5px;
}

.search-submit {
    color: #FBC034;
}
.search-submit:hover {
    background: #FBC034;
    color: white;
}

.search-input:focus-within {
    cursor: initial;
    margin-inline-end: 4px;
    outline: none;
}
.search-bar:focus-within .search-input {
    display: block;
}




/* body.active-modal {
    overflow-y:hidden;
} */
.modal-container {
    position: absolute;
    z-index: 10;
}

.add-user {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.overlay {
    background: rgba(49,49,49,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px; 
    gap: 10px;
}

.title {
    display: flex;
    justify-content: center;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: #FBC034;
}

.uid,
.bal {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #b3b3b3;
    padding: 5px 10px 5px 10px;
    width: 100%;
}
.uid:focus,
.bal:focus {
    border-width: 1px;
    outline: transparent;
    border-color: #FBC034;
}


.close-modal {
    cursor: pointer;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: #FBC034;
}
.close-modal:hover {
    outline: transparent;
    border: 1px solid transparent;
    background-color: #f3aa00;
    color: white;
}





.list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: left; */
    width: 100%;
    height: 83svh;
    padding: 1%;
    background-color: white;
    position: relative;
    z-index:1;
}

/* ///////////////////////////  */


  
  .card-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100svh;
  }
  
  .card-list li:first-child {
    font-weight: bold; 
    background-color: #f2f2f2;
  }
  
  .card-list li:last-child {
    border-bottom: none; /* Remove border for the last item */
  }
  
  .card-list li div {
    flex: 1;
    text-align: center;
  }


/* .row-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */