.row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: -webkit-fill-available;
    height: 100px;
    padding: 1%;
    background-color: white;
    position: relative;
    z-index:1;
    border-bottom: 1px solid #ccc;
    
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: -webkit-fill-available;
    height: 100svh;
    padding: 1%;
    background-color: white;
    position: relative;
    z-index:1;
}